@model App.Web.Models.LessonsIndexViewModel

@{
    ViewData["Title"] = "Index";
}
<main id="panel">
    <nav class="navbar navbar-dark bg-secondary mb-3">
        <span class="navbar-brand mb-0 h1">@Html.DisplayFor(model => model.Lesson.Teacher.FirstName)'s Lessons</span>
    </nav>
    <hr />
    @if (Model.Lessons != null && Model.Lessons.Count > 0)
    {
        <div class="row">
            @foreach (var item in Model.Lessons)
            {

                <div class="col-sm-4">
                    <div class="card mb-3">
                        <h5 class="card-header">
                            @Html.DisplayFor(modelItem => item.Title)
                            <a asp-action="Delete" asp-controller="Lesson" asp-route-id="@item.Id">
                                <i class="far fa-trash-alt"></i>
                            </a>
                            <a asp-action="Details" asp-controller="Lesson" asp-route-id="@item.Id">
                                <i class="far fa-edit"></i>
                            </a>
                        </h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Status: @Enum.GetName(typeof(PublishStatusEnum), Int32.Parse(item.PublishStatus))</li>
                            <li class="list-group-item">Subject: @Html.DisplayFor(modelItem => item.Subject)</li>
                            <li class="list-group-item">Created: @Html.DisplayFor(modelItem => item.CreatedDate)</li>
                        </ul>
                        <div class="card-body">
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Summary)</p>
                            <a asp-action="Details" asp-controller="Lesson" asp-route-id="@item.Id" class="btn btn-primary">View Lesson</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</main>