@model App.Core.Entities.Teacher
<main id="panel">
    <h2 class="title-bar">@Html.DisplayFor(model => model.FirstName)'s Dashboard</h2>
    <div class="flexPanels">
        <section id="profile">
            <h3>Profile</h3>
            <p>@Html.ActionLink("Edit Profile", "Edit", new { id = Model.Id })</p>
            <p><strong>@Html.DisplayNameFor(model => model.User) Id:</strong> @Html.DisplayFor(model => model.User)</p>
            <p><strong>@Html.DisplayNameFor(model => model.Role):</strong> @Html.DisplayFor(model => model.Role)</p>
            <p><strong>@Html.DisplayNameFor(model => model.FirstName):</strong> @Html.DisplayFor(model => model.FirstName)</p>
            <p><strong>@Html.DisplayNameFor(model => model.LastName):</strong> @Html.DisplayFor(model => model.LastName)</p>
            <p><strong>@Html.DisplayNameFor(model => model.AddressLine):</strong> @Html.DisplayFor(model => model.AddressLine)</p>
            <p><strong>@Html.DisplayNameFor(model => model.AddressLine2):</strong> @Html.DisplayFor(model => model.AddressLine2)</p>
            <p><strong>@Html.DisplayNameFor(model => model.City):</strong> @Html.DisplayFor(model => model.City)</p>
            <p><strong>@Html.DisplayNameFor(model => model.State):</strong> @Html.DisplayFor(model => model.State)</p>
            <p><strong>@Html.DisplayNameFor(model => model.Zip):</strong> @Html.DisplayFor(model => model.Zip)</p>
            <p><strong>@Html.DisplayNameFor(model => model.PhoneNumber):</strong> @Html.DisplayFor(model => model.PhoneNumber)</p>
            <p><strong>@Html.DisplayNameFor(model => model.PhoneNumberOpt):</strong> @Html.DisplayFor(model => model.PhoneNumberOpt)</p>
            <p><strong>@Html.DisplayNameFor(model => model.Email):</strong> @Html.DisplayFor(model => model.Email)</p>
            <p><strong>@Html.DisplayNameFor(model => model.DoB):</strong> @Html.DisplayFor(model => model.DoB)</p>
            <p><strong>Teacher @Html.DisplayNameFor(model => model.Id):</strong> @Html.DisplayFor(model => model.Id)</p>
            <p><strong>Joined:</strong> @Html.DisplayFor(model => model.CreatedDate)</p>
        </section>
        <section id="courses">
            <h3>Courses</h3>
            <a asp-action="Create" asp-controller="Course" asp-route-teacherId="@Model.Id" asp-route-userId="@Model.User">Create New Course</a>
            @for (var i = 0; i < Model.Courses.Count; i++)
            {
                <section class="course">
                    <p><strong>Course Id: </strong>@Model.Courses[i].Id</p>
                    <p><strong>Status: </strong>@Model.Courses[i].Status</p>
                    <p><strong>Title: </strong>@Model.Courses[i].Title</p>
                    <p><strong>Description: </strong>@Html.Raw(Model.Courses[i].Description)</p>
                    <p><strong>Start Date: </strong>@Model.Courses[i].StartDate</p>
                    <p><strong>End Date: </strong>@Model.Courses[i].EndDate</p>
                    @*<p><strong>Realated Teacher Id: </strong>@Model.Courses[i].TeacherId</p>
                        <p><strong>Created By: </strong>@Model.Courses[i].User</p>
                        <p>Last updated by @Model.Courses[i].ModifiedBy on @Model.Courses[i].ModifiedDate</p>*@
                    <p>
                        <a asp-action="Edit" asp-controller="Course" asp-route-id="@Model.Courses[i].Id">Edit</a> |
                        <a asp-action="Delete" asp-controller="Course" asp-route-id="@Model.Courses[i].Id">Delete</a> |
                        <a asp-action="Create" asp-controller="Lesson" asp-route-teacherId="@Model.Courses[i].TeacherId" asp-route-userId="@Model.Courses[i].User" asp-route-courseId="@Model.Courses[i].Id">Create Lesson</a>
                    </p>
                    <section class="child-lessons">
                        @if (Model.Courses[i].Lessons != null)
                        {
                            <h5>Lessons in this course:</h5>
                            foreach (var lesson in Model.Courses[i].Lessons)
                            {
                            <p><a asp-action="Details" asp-controller="Lesson" asp-route-id="@lesson.Id">@Html.DisplayFor(modelItem => lesson.Title)</a></p>
                            }
                        }
                    </section>
                </section>
            }
        </section>
    </div>
</main>