@model App.Core.Entities.Student

@{
    ViewData["Title"] = "Delete";
}
<main id="panel">
    <h2>Delete</h2>

    <h3>Are you sure you want to delete @Model.FirstName?</h3>
    <hr />
    <div class="row">
        <ul>
            <li>
                @Html.DisplayFor(model => model.FirstName)
            </li>
            <li>
                @Html.DisplayFor(model => model.LastName)
            </li>
            <li>
                @Html.DisplayFor(model => model.Email)
            </li>
            <li>
                @Html.DisplayFor(model => model.DoB)
            </li>
            @Html.DisplayFor(model => model.AddressLine)

            </li>
            <li>
                @Html.DisplayFor(model => model.AddressLine2)
            </li>
            <li>
                @Html.DisplayFor(model => model.City)

            </li>
            <li>
                @Html.DisplayFor(model => model.State)
            </li>
            <li>
                @Html.DisplayFor(model => model.Zip)
            </li>
            <li>
                @Html.DisplayFor(model => model.PhoneNumber)
            </li>
            <li>
                @Html.DisplayFor(model => model.PhoneNumberOpt)
            </li>
        </ul>
    </div>

    <input type="hidden" asp-for="ImageUrl" class="form-control" />
    <input type="hidden" asp-for="Id" class="form-control" />
    <input type="hidden" asp-for="Role" class="form-control" />
    <input type="hidden" asp-for="TeacherId" class="form-control" />
    <input type="hidden" asp-for="User" class="form-control" />
    <input type="hidden" asp-for="CreatedDate" class="form-control" />
    <input type="hidden" asp-for="ModifiedDate" class="form-control" />
    <input type="hidden" asp-for="CreatedBy" class="form-control" />
    <input type="hidden" asp-for="ModifiedBy" class="form-control" />
    <input type="hidden" asp-for="Version" class="form-control" />

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-primary" />
        <a asp-action="Index" asp-controller="Student" asp-route-user="@User" class="btn btn-outline-secondary">Cancel</a>

    </form>
</main>