@model App.Core.Entities.Teacher

@{

}
<main id="panel">
    <nav class="navbar navbar-light bg-light justify-content-between mb-3">
        <span class="navbar-brand">@Html.DisplayFor(model => model.FirstName)'s Students (@Model.Students.Count)</span>
        <a asp-action="Add" asp-controller="Student" asp-route-teacherId="@Model.Id" asp-route-userId="@Model.User" class="btn btn-outline-success my-2 my-sm-0">Add Student</a>
    </nav>
    <hr />
    @if (Model.Students != null && Model.Students.Count > 0)
    {
        <div class="row m-3">
            @foreach (var item in Model.Students)
            {
                <div class="card" style="width: 18rem; margin: 5px;">
                    <div class="student-pic"><img class="card-img-top" src="~/images/students/@item.ImageUrl" alt="@item.FirstName"></div>
                    <div class="card-body">
                        <h5 class="card-title">@item.FirstName @item.LastName</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            @{
                                GradeLevelEnum level = (GradeLevelEnum)Enum.Parse(typeof(GradeLevelEnum), item.GradeLevel);
                            }
                            @level.GetDisplayName()
                        </h6>
                        <p class="card-text" style="height: auto; overflow-y: auto;">@item.FirstName has been a student since @item.CreatedDate</p>
                        <a asp-action="Profile" asp-controller="Student" asp-route-id="@item.Id" class="btn btn-primary">Profile</a>
                    </div>
                </div>
            }
        </div>
    }
</main>